<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <!-- this is the main entry -->
	<servlet>
		<servlet-name>Turnresolver</servlet-name>
		<servlet-class>com.appspot.turnresolver.servlets.TurnresolverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Turnresolver</servlet-name>
		<url-pattern>/turnresolver</url-pattern>
	</servlet-mapping>
	
	<!-- this is the uuid test -->
	<servlet>
		<servlet-name>UUID</servlet-name>
		<servlet-class>com.appspot.turnresolver.servlets.UUIDServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UUID</servlet-name>
		<url-pattern>/UUID</url-pattern>
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
